@media (min-width: 768px) {
    .full-width #main {
        margin-left: 70px;
    }
    .full-width aside {
        width: 70px;
    }
    .full-width aside a span {
        display: none;
    }
    .full-width aside .logo .letter-logo {
        display: block;
    }
    .full-width aside .logo .word-logo {
        display: none;
    }
    #main {
        margin-left: 250px;
    }
    aside {
        width: 250px;
    }
    /* Quick Stats Section */
    .full-width #main .quick-stats {
        grid-template-columns: repeat(4, 1fr);
    }
    #main .quick-stats {
        grid-template-columns: repeat(2, 1fr);
    }
    .row.three {
        grid-template-columns: repeat(3, minmax(150px, 1fr)) !important;
    }
    .full-width .row.three {
        grid-template-columns: repeat(3, minmax(150px, 1fr)) !important;
    }
}
@media (min-width: 1100px) {
    #main .quick-stats {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .full-width #main .quick-stats {
        grid-template-columns: repeat(2, 1fr);
    }
    .full-width .row {
        grid-template-columns: 1fr !important;
    }
    .row {
        grid-template-columns: 1fr !important;
    }

    .details .main-info .img-holder {
        width: 40% !important;
    }
    .details .main-info .text-info {
        width: 55% !important;
    }
    .full-width .details .main-info .text-info .info-stats {
        grid-template-columns: 1fr 1fr !important;
    }
    .details .main-info .text-info .info-stats {
        grid-template-columns: 1fr !important;
    }
    .home .showcase q {
        font-size: 35px;
    }
}
/* ------------------------------ */
@media (max-width: 500px) {
    #main .quick-stats {
        grid-template-columns: 1fr !important;
    }
    .full-width #main .quick-stats {
        grid-template-columns: 1fr;
    }
    .delete-modal {
        width: 90%;
        font-size: 18px;
    }
    .details .main-info {
        flex-direction: column;
        justify-content: space-between;
    }
    .details .main-info > * {
        width: 100% !important;
        gap: 0px !important;
    }
    .details .main-info .text-info {
        padding-inline: 20px !important;
    }
    .details .main-info .text-info .info-stats {
        grid-template-columns: 1fr 1fr !important;
    }
    .title {
        flex-direction: column;
        gap: 20px;
    }
    .title .buttons {
        justify-content: space-between;
        width: 100%;
        flex-direction: row-reverse;
    }
    .add-new-subcategory form input {
        width: 100%;
    }
    .add-new-subcategory form {
        flex-direction: column;
        gap: 20px;
    }
    .add-new-subcategory form button {
        height: 45px;
    }
    .home .nav-bar .top-menu .login-register a,
    .home .nav-bar .top-menu .c-info span {
        display: block;
    }
    .home .nav-bar nav ul li a {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .nav-bar nav ul li a::after {
        width: 0;
        height: 0;
    }
    .home .nav-bar .logo {
        margin-block: 15px;
    }
    .home .nav-bar nav {
        padding: 0;
    }
    .home .nav-bar nav ul li a i {
        display: none;
    }
    .product-showcase.list .card .product-options {
        gap: 5px;
    }
    .home .nav-bar nav ul li a.active {
        background-color: var(--darkerBlueColor);
    }
    .product-showcase.list .card .product-options {
        flex-direction: column;
        text-align: center;
    }
}
/* ------------------------------ */
@media (max-width: 767px) {
    .full-width #main.full {
        margin-left: 0;
    }
    .full-width aside {
        width: 250px;
        margin-left: -100%;
    }
    #main.full {
        margin-left: 0;
    }

    aside .aside-margin-toggler {
        top: 10px !important;
    }
    .full-width aside .aside-margin-toggler {
        top: 10px !important;
    }

    #main .quick-stats {
        grid-template-columns: repeat(2, 1fr);
    }
    .full-width .row {
        grid-template-columns: 1fr !important;
    }
    .row {
        grid-template-columns: 1fr !important;
    }
    .login-wrapper {
        display: block;
    }
    .login-wrapper > * {
        width: 100% !important;
    }
    .login-wrapper .login-form-image {
        display: none;
    }
    .home .nav-bar nav ul {
        gap: 0;
    }
    .home .showcase q {
        font-size: 23px;
    }
    .product-details .product-image-holder {
        width: 100% !important;
    }
    .add-new form {
        flex-direction: column;
        gap: 15px;
    }
    .add-new form > * {
        width: 100% !important;
    }
    .add-new form button {
        height: 50px;
    }
}
@media (min-width: 500px) and (max-width: 767px) {
    .details .main-info {
        justify-content: space-between;
    }
    .details .main-info > * {
        width: 48% !important;
        gap: 0 !important;
    }
    .details .main-info .text-info {
        padding-inline: 0 10px !important;
    }
    .details .main-info .text-info .info-stats {
        grid-template-columns: 1fr !important;
    }
}
@media (max-width: 800px) {
    .product-showcase.list .card {
        flex-direction: column !important;
        align-items: center;
        height: max-content !important;
    }
    .product-showcase.list .card .product-image {
        width: 50%;
    }
    .product-showcase.list .card span {
        margin: 15px auto 30px;
    }
    .product-showcase.list .card .product-info {
        align-items: center;
    }
    .product-showcase.list .product-description {
        text-align: center;
    }
    .product-showcase.list .product-description li {
        list-style: none !important;
    }
    .checkout-holder {
        flex-direction: column-reverse;
    }
    .checkout-holder .row-item {
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 900px) {
    .product-details {
        grid-template-columns: 1fr !important;
        place-items: center;
    }
    .product-details .product-image-holder {
        width: 60%;
    }
    .product-details .product-info {
        gap: 20px;
    }
}
