/* Custom properties */
:root {
    --mainColor: #405189;
    --lightColor: #f3f3f9;
    --whiteColor: #fff;
    --darkBlueColor: #193287;
    --successColor: #0ab39c;
    --softGreenColor: #b1f3b4;
    --darkerGreenColor: #0c8f12;
    --softBlueColor: #a5d7ff;
    --darkerBlueColor: #003b6a;
    --softYellowColor: #fff497;
    --softOrangeColor: #f95724;
    --softBlueColor: #d0d5ef;
    --yellow: #ffeb3b;
    --darkBg: #1a1d21;
    --darkColor: #292e32;
    --darkFontColor: #bfbfbf;
    --grayColor: #777;
    --softRed: #ff8c84;
    --darkRed: #c10000;
    --ff-elmessiri: "el messiri";
    --ff-cairo: "cairo";
    --ff-roboto: "Roboto";
    --transition: 0.3s ease;
    scroll-behavior: smooth;
}
/* 
---------------------
---------------------------------------Components------------------------------------
---------------------
*/
/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lightColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--mainColor);
}
/* Some variables to use directly in html */
.ff-elmessiri{
    font-family: var(--ff-elmessiri);
}
.pointer {
    cursor: pointer;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.j-c-end {
    justify-content: end;
}
.j-c-center {
    justify-content: center;
}
.j-c-start {
    justify-content: start;
}
.j-c-between{
    justify-content: space-between;
}
.a-i-center{
    align-items: center;
}
.d-block {
    display: block;
}
.light {
    color: var(--lightColor);
}
.bg-white {
    background: var(--whiteColor);
}
.main {
    color: var(--mainColor);
}
.white {
    color: var(--whiteColor);
}
.p-15-25 {
    padding: 15px 25px !important;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mr-15{
    margin-right: 15px;
}
.t-center {
    text-align: center;
}
.gap-15{
    gap: 15px;
}
/* Buttons */
.new {
    padding: 7px 13px;
    border-radius: 5px;
    transition: var(--transition);
    background: var(--softGreenColor);
    color: var(--darkerGreenColor);
}
.new:hover {
    background-color: #aeebb1;
}
.editBtn {
    padding: 7px 13px;
    border-radius: 5px;
    transition: var(--transition);
    background: var(--yellow);
    color: var(--darkColor);
}
.editBtn:hover {
    background: var(--softYellowColor);
}
.deleteBtn:hover {
    background: rgb(218, 2, 2);
}
.deleteBtn {
    background: red;
    color: var(--lightColor);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}
a.deleteBtn {
    padding: 5px 20px;
}
.edit {
    color: var(--darkColor);
    font-size: 25px;
    line-height: 1;
}
.dark .edit {
    color: var(--lightColor);
}
.cancel {
    background: #8b8b8b;
    color: var(--lightColor);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}
/* pop ups */
.pop-up-holder {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 155;
    display: none;
    padding: 15px;
}
.pop-up-holder.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-modal {
    background-color: var(--lightColor);
    min-height: max-content;
    min-width: 400px;
    padding: 20px;
    font-weight: 600;
    font-family: var(--ff-roboto);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.delete-modal.show {
}
.delete-modal i {
    font-size: 30px;
    color: var(--darkerBlueColor);
}
.delete-modal .deleteMessage {
    margin-bottom: 5px;
}
.delete-modal .buttons button {
    width: 90px;
    height: 35px;
    border: none;
}
.delete-modal .buttons .deleteBtn{
    background-color: var(--darkerBlueColor);

}
.messages {
    padding: 20px 10px;
    border-radius: 4px;
    width: max-content;
}
.messages.success {
    background: var(--softGreenColor);
    color: var(--darkerGreenColor);
}
.messages.fail {
    background: var(--softRed);
    color: var(--darkRed);
}
/* Titles */
.sub-title {
    margin-top: 25px;
    font-family: var(--ff-elmessiri);
    font-size: 22px;

}
.sub-title.result-message{
    color: var(--mainColor);
    font-size: 30px;
}
.title .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Layouts */
.container {
  width: 95%;
  margin: auto;
  max-width: 1500px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 30px;
  font-family: var(--ff-roboto);
}
.row-item {
  background: var(--whiteColor);

  border-radius: 4px;
  padding: 20px 10px;
}
.row.three {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.empty {
    text-align: center;
    margin-block: 60px;
}
.empty .emptyMessage {
    margin-bottom: 30px;
    font-size: 35px;
}
.breadCrumb {
}
.breadCrumb a {
    font-size: 18px;
    color: var(--mainColor);
    text-decoration: underline;
}
.dark .breadCrumb a {
    color: var(--softBlueColor);
}
select {
    background: var(--lightColor);
    width: 120px;
    padding-inline: 5px;
}
.dark select {
    background-color: var(--darkColor);
    color: var(--lightColor);
}
ul.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-block: 20px;
}
ul.pagination .page-item,
ul.pagination .page-item a  {
    font-size: 20px;
    color: var(--mainColor) ;

}
ul.pagination .page-item.disabled {
    cursor: no-drop;
    color: var(--grayColor);
}
ul.pagination .page-item.active {
    color: var(--grayColor);
}
